@import "~bootstrap/scss/bootstrap";

.nav-main {
  a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black !important;

    &:hover {
      border-bottom: none;
      text-decoration: none;
      opacity: 0.7;
    }
  }

  margin-bottom: 20px;

  .logo {
    font-weight: bold;
    text-decoration: none;
  }
}

.home-main {
  font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;

  .viewa-all-button-container {
    display: flex;
    justify-content: center;
  }

  &__left {
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/seattle-washington-skyline-rainier.jpg');
    background-size: cover;
  }

  &__button {
    margin-top: 30px !important;
    margin-bottom: 20px;
  }

  .home-top-3 {
    // height: 35vh;
    margin-top: 40px;


    &__inner {
      padding-left: 0;

      .item {
        background-color: #f8f9fa;
        padding: 20px;
        color: black;
        text-align: left;
        border-radius: 4px;

        h1 {
          text-align: center;
          font-size: 34px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.submit-main {


  &__instructions {}

  &__form {
    margin-top: 30px;
  }

}

.about-main {
  font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;

  &__left {
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/seattle-washington-skyline-rainier.jpg');
    background-size: cover;
    height: 43vh;
  }

  &__button {
    margin-top: 40px !important;
    margin-bottom: 20px;
  }
}